/* VDayCard Style CSS - By: Jacqueline "Amber" Josey */

/* Sets up BG img */
body {
  background-image: url("love-heart-bg.png");
}

/* Styles the body (font, txt colors, centers text) */
body{
     color: #e23376;
     font-family: Pangolin;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}

/* Bolds standard text */
p {
    font-weight: bold;   
}

/* Sets bg color of standard text */
p span {
    background-color: #F8F8F9;
}

/* Italisizes Rick Astley parathensies & sets bg of the text */
a {
    font-style: italic;
}

/* Gets Rid of List Bulletin Points & changes txt bg */
 ul {
  list-style-type: none;
 }

/* Sets bg color of list text */
 li span {
    background-color: #F8F8F9;
 }

/* Italisizes & changes bg of txt */
small {
    font-style: italic;
}

/* Changes sizes of imgs to a more managable size */
body, img {
    width: auto;
    max-width: 55%;
    max-height: 55%;
    height: auto;
}